<%- include('../partials/header') -%>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>Chova Shop Admin</h1>
</div>
<h2>Welcome</h2>
<%- include('../partials/footer') -%>
